workflows/amoCRM: update token.json
{
  "active": false,
  "connections": {
    "NocoDB": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB2": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-28T19:27:37.905Z",
  "id": 13,
  "name": "amoCRM: update token",
  "nodes": [
    {
      "parameters": {},
      "id": "55a9a9eb-07c5-4731-ab89-4ca5cf47992a",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -580,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_8za9o6ytymv7i8",
        "limit": 1,
        "options": {
          "fields": []
        }
      },
      "id": "6e50c566-dba2-4b95-9629-da3efe460b31",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        -400,
        240
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet current_timestamp = new Date().getTime();\nlet received_at = new Date($input.first().json.UpdatedAt).getTime();\nlet isActive = (current_timestamp - received_at) < (86400 * 0.95)\n\n\n\nreturn [{isActive}];"
      },
      "id": "61a6eb61-00ed-4618-ad32-aef864c8ce19",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Code\"].json[\"isActive\"]}}"
            }
          ]
        }
      },
      "id": "5f51e729-a11b-49a4-922f-6bcc5d1b619e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mybiconnectwidgets.amocrm.ru/oauth2/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$node[\"NocoDB\"].json[\"refresh_token\"]}}"
            },
            {
              "name": "client_id",
              "value": "={{$node[\"NocoDB\"].json[\"client_id\"]}}"
            },
            {
              "name": "client_secret",
              "value": "={{$node[\"NocoDB\"].json[\"client_secret\"]}}"
            },
            {
              "name": "redirect_uri",
              "value": "={{$node[\"NocoDB\"].json[\"redirect_uri\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1277fc4a-668b-4ceb-ad50-39b02088abc0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        240,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_8za9o6ytymv7i8",
        "id": "={{$node[\"NocoDB\"].json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "access_token",
              "fieldValue": "={{ $json[\"access_token\"] }}"
            },
            {
              "fieldName": "refresh_token",
              "fieldValue": "={{$node[\"HTTP Request\"].json[\"refresh_token\"]}}"
            },
            {
              "fieldName": "expires_in",
              "fieldValue": "={{$node[\"HTTP Request\"].json[\"expires_in\"]}}"
            }
          ]
        }
      },
      "id": "4d7d0f93-c04f-4743-a832-3204d52c55b6",
      "name": "NocoDB1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        460,
        140
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_8za9o6ytymv7i8",
        "limit": 1,
        "options": {}
      },
      "id": "9f67c0a2-0c49-4d46-8f0d-2c5eebdeea70",
      "name": "NocoDB2",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        720,
        260
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-10-28T19:27:37.905Z"
}