workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Поиск сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Результат поиска": {
      "main": [
        [
          {
            "node": "Сообщение найдено?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск сообщения": {
      "main": [
        [
          {
            "node": "Результат поиска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение найдено?": {
      "main": [
        [
          {
            "node": "Тип события",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновляем данные": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип события": {
      "main": [
        [
          {
            "node": "Обновляем данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Параметры задачи на блокировку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Параметры задачи на удалений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры задачи на блокировку": {
      "main": [
        [
          {
            "node": "Блокировка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры задачи на удалений": {
      "main": [
        [
          {
            "node": "Удаление",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-08T09:09:38.242Z",
  "id": 26,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "60713656-039a-42ef-a929-4a40f1aebd1a",
        "options": {}
      },
      "id": "b2e23d96-98db-4dcc-a566-170ae8e6ad69",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        140,
        240
      ],
      "webhookId": "60713656-039a-42ef-a929-4a40f1aebd1a"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [\n  {\n    json: {\n      empty: $input.all().length == 1 && Object.keys($input.all()[0].json).length == 0\n    }\n  }\n];"
      },
      "id": "59d6edb1-3c5c-4bd8-a129-a6009f4017cd",
      "name": "Результат поиска",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_zqjjjzpkxrnb52",
        "limit": 1,
        "options": {
          "where": "=(message_id,eq,{{$node[\"Webhook\"].json[\"body\"][\"message_id\"]}})"
        }
      },
      "id": "54c3e80a-905c-4a02-86f1-95ab45cc6226",
      "name": "Поиск сообщения",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        360,
        240
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Результат поиска\"].json[\"empty\"]}}"
            }
          ]
        }
      },
      "id": "c584b015-1004-4c3e-b6f8-f433990830b4",
      "name": "Сообщение найдено?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_zqjjjzpkxrnb52",
        "id": "={{$node[\"Поиск сообщения\"].json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "={{$node[\"Тип события\"].json[\"field\"]}}",
              "fieldValue": "={{true}}"
            }
          ]
        }
      },
      "id": "793051e0-9b00-4536-b418-67427bc20977",
      "name": "Обновляем данные",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1220,
        100
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet map = {\n  \"clicked\": \"click\",\n  \"delivered\": \"delivered\",\n  \"opened\": \"open\"\n}\n\nlet field = map[$node[\"Webhook\"].json[\"body\"][\"event\"]];\n\n\nreturn [{field}];"
      },
      "id": "5cc8fea3-4467-4350-992a-7614828f43c7",
      "name": "Тип события",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        980,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "0ced96a0-85e1-42ae-bda9-596798bde763",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1680,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Поиск сообщения\"].json[\"template\"]}}",
              "value2": "Блокировка"
            }
          ]
        }
      },
      "id": "a4563a88-56b7-4f0e-a422-ef5331939881",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1880,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "amoType",
              "value": "prod"
            }
          ]
        },
        "options": {}
      },
      "id": "df53529b-60a7-4b5d-8019-2c670a9af352",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1460,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nvar date = new Date();\ndate.setDate(date.getDate() + 1);\n\n\nlet params = [\n  {\n        \"task_type_id\": 2266498,\n        \"text\": $node[\"Поиск сообщения\"].json[\"lead_id\"],\n        \"responsible_user_id\": 289686,\n        \"is_completed\": false,\n        \"complete_till\": parseInt(date.getTime() / 1000),\n        \"entity_id\": $node[\"Поиск сообщения\"].json[\"lead_id\"],\n        \"entity_type\": \"leads\",\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "20641236-e17d-48a8-ab3e-4530befff334",
      "name": "Параметры задачи на блокировку",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2120,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nvar date = new Date();\ndate.setDate(date.getDate() + 1);\n\n\nlet params = [\n  {\n        \"task_type_id\": 2268268,\n        \"text\": $node[\"Поиск сообщения\"].json[\"lead_id\"],\n        \"responsible_user_id\": 289686,\n        \"is_completed\": false,\n        \"complete_till\": parseInt(date.getTime() / 1000),\n        \"entity_id\": $node[\"Поиск сообщения\"].json[\"lead_id\"],\n        \"entity_type\": \"leads\",\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "84160b28-d6c7-46b0-95a2-e572535c47b9",
      "name": "Параметры задачи на удалений",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2120,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры задачи на удалений\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "5fbc2bfa-d293-4449-a6aa-1e7f1a946d66",
      "name": "Удаление",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2360,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры задачи на блокировку\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "20ef078d-f874-4641-b206-cc46fc3349df",
      "name": "Блокировка",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2360,
        -80
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-08T13:14:51.061Z"
}