workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-09T03:44:47.588Z",
  "id": 28,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{'a': 1}];"
      },
      "id": "07e976f3-72ae-4dc8-94ef-61f1fc9b9138",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1020,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"b\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d10ce19d-dac4-426a-a48a-e59ef28ea8fb",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {},
      "id": "81754684-101f-47be-af71-a25d295b46a5",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        260
      ]
    },
    {
      "parameters": {},
      "id": "7f9cbd49-4295-42ef-8742-d48c8e938671",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        520
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "efc37f5f-a733-4e93-a849-310f32a2f4c2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-09T03:44:47.588Z"
}