workflows/Prod: Connect Events.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Результат поиска": {
      "main": [
        [
          {
            "node": "Пользователь не найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры контакта": {
      "main": [
        [
          {
            "node": "Создание контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание контакта": {
      "main": [
        [
          {
            "node": "ID контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID контакта": {
      "main": [
        [
          {
            "node": "Добавление пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление пользователя": {
      "main": [
        [
          {
            "node": "Идентификатор созданного",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Этап": {
      "main": [
        [
          {
            "node": "Если сделка не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь не найден?": {
      "main": [
        [
          {
            "node": "Параметры контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Идентификатор найденного",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск пользователя": {
      "main": [
        [
          {
            "node": "Результат поиска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если сделка не существует": {
      "main": [
        [
          {
            "node": "Параметры создания сделки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Параметры обновления сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор созданного": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор найденного": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID пользователя": {
      "main": [
        [
          {
            "node": "Этап",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание сделки": {
      "main": [
        [
          {
            "node": "Ответ создания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры связывания контакта": {
      "main": [
        [
          {
            "node": "Связывание сделки и контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры создания сделки": {
      "main": [
        [
          {
            "node": "Создание сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры обновления сделки": {
      "main": [
        [
          {
            "node": "Обновление сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ создания": {
      "main": [
        [
          {
            "node": "Параметры связывания контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление сделки": {
      "main": [
        [
          {
            "node": "Ответ обновления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ обновления": {
      "main": [
        [
          {
            "node": "ID сделки обновление",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Связывание сделки и контакта": {
      "main": [
        [
          {
            "node": "ID сделки создание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID сделки создание": {
      "main": [
        [
          {
            "node": "ID сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID сделки обновление": {
      "main": [
        [
          {
            "node": "ID сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID сделки": {
      "main": [
        [
          {
            "node": "Обновление данных пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Покупка": {
      "main": [
        [
          {
            "node": "Параметры счета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление данных пользователя": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры счета": {
      "main": [
        [
          {
            "node": "Создание счета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание счета": {
      "main": [
        [
          {
            "node": "Счет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Счет": {
      "main": [
        [
          {
            "node": "Сделка и счет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сделка и счет": {
      "main": [
        [
          {
            "node": "Связь счета и сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры демо": {
      "main": [
        [
          {
            "node": "Обновления демо сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление платежа": {
      "main": [
        [
          {
            "node": "Поиск сообщений",
            "type": "main",
            "index": 0
          },
          {
            "node": "Поис SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск сообщений": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Обновление сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поис SMS": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Обновление SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление SMS": {
      "main": [
        [
          {
            "node": "Обработка SMS завершина?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка сообщений завершина?": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка SMS завершина?": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление сообщения": {
      "main": [
        [
          {
            "node": "Обработка сообщений завершина?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проекты удалены?": {
      "main": [
        [
          {
            "node": "Сообщения",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches3": {
      "main": [
        [
          {
            "node": "Обработка сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщения": {
      "main": [
        [
          {
            "node": "SplitInBatches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS": {
      "main": [
        [
          {
            "node": "SplitInBatches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches2": {
      "main": [
        [
          {
            "node": "Обработка SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка сообщения": {
      "main": [
        [
          {
            "node": "Сообщения обработаны?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщения обработаны?": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка SMS": {
      "main": [
        [
          {
            "node": "SMS обработаны?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS обработаны?": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Покупка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Добавление платежа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проекты удалены?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Есть демо сделка?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Поиск пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Параметры демо",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть демо сделка?": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-25T21:15:04.454Z",
  "id": 10,
  "name": "Prod: Connect Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30841b7a-06c6-49d0-bc30-4504ca84fd0a",
        "options": {}
      },
      "id": "f904d234-4ffc-46c5-b990-56cb06c2228a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        260
      ],
      "webhookId": "30841b7a-06c6-49d0-bc30-4504ca84fd0a"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      empty: $input.all().length == 1 && Object.keys($input.all()[0].json).length == 0\n    }\n  }\n];"
      },
      "id": "cb99226f-dfc7-4795-8b57-87dbefad163d",
      "name": "Результат поиска",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1580,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [{\n    \"first_name\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"first_name\"],\n    \"responsible_user_id\": 289686,\n    \"custom_fields_values\": [\n        {\n            \"field_id\": 763227,\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"],\n                    \"enum_id\": 570365\n                }\n            ]\n        }\n    ]\n}]\n\nif ($node[\"Webhook\"].json[\"body\"][\"user\"][\"last_name\"]) {\n  params[0][\"last_name\"] = $node[\"Webhook\"].json[\"body\"][\"user\"][\"last_name\"]\n}\n\nif ($node[\"Webhook\"].json[\"body\"][\"user\"][\"phone_number\"]) {\n  params[0][\"custom_fields_values\"].push(\n            {\n            \"field_id\": 763225,\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"phone_number\"],\n                    \"enum_id\": 570353\n                }\n            ]\n        }\n  )\n}\n\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "3d098be4-ec0c-413c-94fc-d5e36379ef41",
      "name": "Параметры контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1960,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "e30488d1-d6ce-4db4-9806-4de4ec625092",
      "name": "Создание контакта",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2160,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nconst userStatuses = {\n  'регистрация': 40719214,\n  'зашел в сервис': 40719217,\n  'создал проект': 40719220,\n  'пробовал подключить': 40719223,\n  'подключил источник': 40719226,\n  'завершился триал': 40719229,\n  'оплата': 40719232,\n  'повторная оплата': 40719235,\n  'проекты удалены': 143,\n}\n\nreturn [{data: userStatuses}];"
      },
      "id": "681555ce-e2ba-4a5f-9291-dd53ef71086e",
      "name": "Этап",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2420,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\n\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "ab7a5909-aa2c-4b7e-9e07-c89cde84df5f",
      "name": "ID контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2360,
        -140
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_n1yyob6hvv0plw",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "user_id",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"id\"]}}"
            },
            {
              "fieldName": "contact_id",
              "fieldValue": "={{$node[\"ID контакта\"].json[\"data\"][\"_embedded\"][\"contacts\"][0][\"id\"]}}"
            },
            {
              "fieldName": "first_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"first_name\"]}}"
            },
            {
              "fieldName": "last_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"last_name\"]}}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"]}}"
            },
            {
              "fieldName": "phone_number",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"phone_number\"]}}"
            },
            {
              "fieldName": "balance",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"balance\"]}}"
            },
            {
              "fieldName": "payment_amount",
              "fieldValue": "0"
            },
            {
              "fieldName": "purchase_amount",
              "fieldValue": "0"
            },
            {
              "fieldName": "last_payday",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"last_payday\"]}}"
            },
            {
              "fieldName": "next_payday",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"next_payday\"]}}"
            },
            {
              "fieldName": "stage",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]}}"
            },
            {
              "fieldName": "recurring",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"recurring\"]}}"
            },
            {
              "fieldName": "blocked",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"blocked\"]}}"
            },
            {
              "fieldName": "purchase_amount",
              "fieldValue": "0"
            },
            {
              "fieldName": "payment_amount",
              "fieldValue": "0"
            }
          ]
        }
      },
      "id": "0fe0a9fb-87bf-42dc-9da0-a2b8fdffe8dc",
      "name": "Добавление пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        2540,
        -140
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Результат поиска\"].json[\"empty\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "f38be7b7-55b6-4113-a97b-33a8a283ac85",
      "name": "Пользователь не найден?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_n1yyob6hvv0plw",
        "limit": 1,
        "options": {
          "where": "=(user_id,eq,{{$node[\"Webhook\"].json[\"body\"][\"user\"][\"id\"]}})~or(email,eq,{{$node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"]}})"
        }
      },
      "id": "01668696-2574-4f9c-9d75-5f86f25e6ac4",
      "name": "Поиск пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1380,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"ID пользователя\"].json[\"data\"][\"lead_id\"]}}",
              "value2": "={{null}}"
            },
            {
              "value1": "={{$node[\"ID пользователя\"].json[\"data\"][\"lead_id\"]}}",
              "value2": "=0"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "aae129a4-2c71-4150-99ba-676b107f91bd",
      "name": "Если сделка не существует",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры создания сделки\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "cbd70524-bab1-4e60-9a78-36f964f0ca9d",
      "name": "Создание сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3040,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "record_id",
              "value": "={{$node[\"Добавление пользователя\"].json[\"id\"]}}"
            },
            {
              "name": "contact_id",
              "value": "={{$node[\"Добавление пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{null}}"
            },
            {
              "name": "user_id",
              "value": "={{$node[\"Добавление пользователя\"].json[\"user_id\"]}}"
            },
            {
              "name": "purchase_amount",
              "value": "={{$node[\"Добавление пользователя\"].json[\"purchase_amount\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{null}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{null}}"
            },
            {
              "name": "payment_amount",
              "value": "={{$node[\"Добавление пользователя\"].json[\"payment_amount\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a3a2fe2-8dd8-465f-afb2-a984989b603c",
      "name": "Идентификатор созданного",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2760,
        -140
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "record_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"Id\"]}}"
            },
            {
              "name": "contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"lead_id\"]}}"
            },
            {
              "name": "user_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"user_id\"]}}"
            },
            {
              "name": "purchase_amount",
              "value": "={{$node[\"Поиск пользователя\"].json[\"purchase_amount\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_contact_id\"]}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_lead_id\"]}}"
            },
            {
              "name": "payment_amount",
              "value": "={{$node[\"Поиск пользователя\"].json[\"payment_amount\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ef80d13-6fd1-4a43-bff8-9884a7bf3346",
      "name": "Идентификатор найденного",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1980,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    data: $input.all()[0].json\n  }\n];"
      },
      "id": "84b1e38f-0e38-49fd-85c8-9f95a6977336",
      "name": "ID пользователя",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2180,
        280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"to_entity_id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]),\n        \"to_entity_type\": \"contacts\",\n        \"metadata\": {\n            \"is_main\": true\n        }\n    }\n]\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "1016a57a-4d54-4584-8405-95f74cf053a0",
      "name": "Параметры связывания контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3400,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры связывания контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "74637c0a-aae9-4334-a7d8-ac938e552bcd",
      "name": "Связывание сделки и контакта",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3580,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "let params = [\n    {\n        \"name\": '№ '+ $node[\"Webhook\"].json[\"body\"][\"user\"][\"id\"],\n        \"price\": parseInt($node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"base_cost\"]),\n        \"responsible_user_id\": 289686,\n        \"status_id\": $node[\"Этап\"].json.data[$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]],\n        \"pipeline_id\": 4377628,\n        \"custom_fields_values\": [\n               {\n                  \"field_id\": 1103195,\n                  \"values\": [\n                      {\n                          \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"name\"]\n                      }\n                  ]\n              },\n              {\n                \"field_id\": 1103197,\n                \"values\": [\n                  {\n                        \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"recurring\"]\n                    }\n                ]\n              }\n        ]\n    }\n]\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "f02c6404-253d-4765-8ba6-22cd07752933",
      "name": "Параметры создания сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2820,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n//\"status_id\": $node[\"Этап\"].json[\"data\"][$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]]\nlet params = [\n    {\n        \"id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"lead_id\"]),\n        \"name\": '№ '+ $node[\"Webhook\"].json[\"body\"][\"user\"][\"id\"],\n        \"price\": parseInt($node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"base_cost\"]),\n        \"responsible_user_id\": 289686,\n        \"status_id\": $node[\"Этап\"].json.data[$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]],\n        \"pipeline_id\": 4377628,\n        \"custom_fields_values\": [\n               {\n                  \"field_id\": 1103195,\n                  \"values\": [\n                      {\n                          \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"name\"]\n                      }\n                  ]\n              },\n              {\n                \"field_id\": 1103197,\n                \"values\": [\n                  {\n                        \"value\": $node[\"Webhook\"].json[\"body\"][\"user\"][\"recurring\"]\n                    }\n                ]\n              }\n        ]\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "770da403-2544-4f28-831a-c450255b5627",
      "name": "Параметры обновления сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2820,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\n\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "a7b9f7e4-4693-4ba9-b380-fa641e7599b0",
      "name": "Ответ обновления",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3460,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "cf43843d-ff49-4221-92dd-e1f882ca7da2",
      "name": "Ответ создания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3220,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры обновления сделки\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "ffa5ceb4-a9d0-49c6-a35c-140372c18178",
      "name": "Обновление сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3160,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "lead_id",
              "value": "={{$node[\"Ответ обновления\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "65e907ac-2b82-4eb9-9b2f-d5b808a37f73",
      "name": "ID сделки обновление",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3800,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "lead_id",
              "value": "={{$node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1fd4c10-2054-4d18-944b-f06820971348",
      "name": "ID сделки создание",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3800,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    data: $input.all()[0].json\n  }\n];"
      },
      "id": "9defd65a-68fe-4f2a-b9b5-f6ebc411c260",
      "name": "ID сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4020,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_uvhnzm4l589vb3",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "purchase_id",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"id\"]}}"
            },
            {
              "fieldName": "users_id",
              "fieldValue": "={{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}}"
            },
            {
              "fieldName": "date",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"date\"]}}"
            },
            {
              "fieldName": "type",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"type\"]}}"
            },
            {
              "fieldName": "amount",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"amount\"]}}"
            },
            {
              "fieldName": "plan_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"name\"]}}"
            }
          ]
        }
      },
      "id": "dfbb412b-9dc3-44f5-9380-56a813f47515",
      "name": "Покупка",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        4680,
        80
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_n1yyob6hvv0plw",
        "id": "={{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "user_id",
              "fieldValue": "={{$node[\"ID пользователя\"].json[\"data\"][\"user_id\"]}}"
            },
            {
              "fieldName": "contact_id",
              "fieldValue": "={{$node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]}}"
            },
            {
              "fieldName": "lead_id",
              "fieldValue": "={{$node[\"ID сделки\"].json[\"data\"][\"lead_id\"]}}"
            },
            {
              "fieldName": "first_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"first_name\"]}}"
            },
            {
              "fieldName": "last_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"last_name\"]}}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"]}}"
            },
            {
              "fieldName": "phone_number",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"phone_number\"]}}"
            },
            {
              "fieldName": "last_payday",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"last_payday\"]}}"
            },
            {
              "fieldName": "next_payday",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"next_payday\"]}}"
            },
            {
              "fieldName": "blocked",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"blocked\"]}}"
            },
            {
              "fieldName": "stage",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]}}"
            },
            {
              "fieldName": "plan_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"name\"]}}"
            },
            {
              "fieldName": "base_cost",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"base_cost\"]}}"
            },
            {
              "fieldName": "balance",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"balance\"]}}"
            }
          ]
        }
      },
      "id": "32de0921-9199-4e59-9898-cae2a3d4a4bd",
      "name": "Обновление данных пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        4240,
        260
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet goods = {\n  'месячный пакет': 1178955,\n  'дополнительные строки': 1178959,\n  'расширенная опция': 1178961,\n  'смена тарифного плана': 1178963\n} \n\nlet params = [{\n    \"name\": \"Списание № \" + $node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"id\"],\n    \"custom_fields_values\": [\n      {\n          \"field_id\": 1158437,\n           \"values\": [{\"value\": \"Оплачен\"}]\n       },\n       {\n          \"field_id\": 1158447,\n\t\t  \"values\": [{\n            \"value\": {\n              \"sku\": \"\",\n              \"product_id\": goods[$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"type\"]],\n\t\t\t  \"description\": $node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"type\"],\n\t\t\t  \"unit_price\": parseFloat($node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"amount\"]),\n\t\t\t  \"unit_type\": \"шт\",\n\t\t\t  \"quantity\": 1.0\n\t\t     }\n          }]\n       },\n       {\n          \"field_id\": 1158451,\n          \"values\": [{\n                 \"value\": $node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"amount\"]}]\n       },\n       {\n          \"field_id\": 1158441,\n\t\t  \"values\": [{\n\t\t\t   \"value\": {\n\t\t\t   \"entity_id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]),\n\t\t\t   \"entity_type\": \"contacts\",\n\t\t\t   \"catalog_id\": null\n\t\t\t   }\n          }]\n          },\n          {\n             \"field_id\": 1158445,\n             \"values\": [{\n                  \"value\": parseInt(new Date().getTime())\n                  }]\n          }\n    ]\n}]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "03b77338-bdca-4dbd-82c5-f632d0547c82",
      "name": "Параметры счета",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4900,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/catalogs/9477/elements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры счета\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "03c3a5d5-b37b-4c64-9922-a02cb2d9d76c",
      "name": "Создание счета",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5120,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "ea6fc527-5505-4d9c-b6c1-6da6b7b99475",
      "name": "Счет",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": $node[\"ID сделки\"].json[\"data\"][\"lead_id\"],\n        \"to_entity_id\": $node[\"Счет\"].json[\"data\"][\"_embedded\"][\"elements\"][0][\"id\"],\n        \"to_entity_type\": \"catalog_elements\",\n        \"metadata\": {\n            \"quantity\": 1.0,\n            \"catalog_id\": 9477\n        }\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "29b9fecb-61c2-4a0e-b9b4-358f39c9d803",
      "name": "Сделка и счет",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5620,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Сделка и счет\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "09bb4392-2f7c-4557-8c3b-6e32f60c6b3e",
      "name": "Связь счета и сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5760,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"ID пользователя\"].json[\"data\"][\"demo_contact_id\"]}}",
              "operation": "notEqual",
              "value2": "={{null}}"
            },
            {
              "value1": "={{$node[\"ID пользователя\"].json[\"data\"][\"demo_lead_id\"]}}",
              "operation": "notEqual",
              "value2": "={{null}}"
            }
          ]
        }
      },
      "id": "e8adfc7a-51ec-444b-ad9f-601362592002",
      "name": "Есть демо сделка?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4680,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n//\"status_id\": $node[\"Этап\"].json[\"data\"][$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]]\n\nlet userStatuses = {\n  'покупка шаблона': 50286925,\n  'зашел в сервис': 50286928,\n  'подключил источник': 50286931,\n  'использование шаблона': 50286934,\n  'завершился триал': 50496463,\n  'оплата': 142,\n  'проекты удалены': 143\n};\n\n\nlet params = [\n    {\n        \"id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"demo_lead_id\"]),\n        \"price\": parseInt($node[\"Webhook\"].json[\"body\"][\"user\"][\"balance\"][\"base_cost\"]) + parseInt($node[\"Webhook\"].json[\"body\"][\"user\"][\"plan\"][\"base_cost\"]),\n        \"status_id\": userStatuses[$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]],\n        \"pipeline_id\": 6014764,\n        \"custom_fields_values\": null\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "28d674c8-4dee-44b4-afcf-a55e4080c56d",
      "name": "Параметры демо",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5380,
        1260
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{$node[\"Получаем токен Amo\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Получаем токен Amo\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры демо\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "192dc3ac-de10-4651-93c8-a251695a496f",
      "name": "Обновления демо сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5580,
        1260
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_ym85t5th9pwjjy",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "payment_id",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"id\"]}}"
            },
            {
              "fieldName": "users_id",
              "fieldValue": "={{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}}"
            },
            {
              "fieldName": "date",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"date\"]}}"
            },
            {
              "fieldName": "type",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"type\"]}}"
            },
            {
              "fieldName": "amount",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"data\"][\"amount\"]}}"
            }
          ]
        }
      },
      "id": "e7bb2a3e-076f-4f2d-acde-e663dde47130",
      "name": "Добавление платежа",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        4700,
        400
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_wnb7sjajswprjb",
        "returnAll": true,
        "options": {
          "where": "=(users_id,eq,{{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}})~and((lost, eq, {{true}})~and(paid, eq, {{true}}))"
        }
      },
      "id": "07887294-345b-4030-b5c5-0140fd269318",
      "name": "Поиск сообщений",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5280,
        280
      ],
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3dc20e51-ba80-4be4-928e-8746d6a9ea5f",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        5480,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_3ypp2osxwtbu73",
        "returnAll": true,
        "options": {
          "where": "=(users_id,eq,{{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}})~and((lost, eq, {{true}})~and(paid, eq, {{true}}))"
        }
      },
      "id": "0fc6d3eb-3190-40f3-a6ff-852b20fc61af",
      "name": "Поис SMS",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5280,
        500
      ],
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "84221d0c-dd84-4603-a334-c65aa059c727",
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        5480,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_3ypp2osxwtbu73",
        "id": "={{$json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "accepted",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "delivered",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "lost",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "paid",
              "fieldValue": "={{true}}"
            }
          ]
        }
      },
      "id": "1244c964-3281-4ae6-8444-59fd8ad9e642",
      "name": "Обновление SMS",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5700,
        500
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "d4f684c3-008d-4e9f-a761-b7576a16e61d",
      "name": "Обработка сообщений завершина?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5900,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches1\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "53d72c7e-9262-4cc2-b12f-4d24ee14746c",
      "name": "Обработка SMS завершина?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5920,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_wnb7sjajswprjb",
        "id": "={{$json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "dropped",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "processed",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "bounce",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "delivered",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "open",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "click",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "spamreport",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "=lost",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "paid",
              "fieldValue": "={{true}}"
            }
          ]
        }
      },
      "id": "41284f4e-3630-463a-a217-d3a8dce1e8e8",
      "name": "Обновление сообщения",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5700,
        280
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"user\"][\"stage\"]}}",
              "value2": "=проекты удалены"
            }
          ]
        }
      },
      "id": "4c4f55c1-a8c2-4027-a158-39be340bc789",
      "name": "Проекты удалены?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4680,
        860
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f2be1b2-611c-46e2-a4e6-806f2a35bcc3",
      "name": "SplitInBatches2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        5140,
        1000
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a00532f9-14fe-4ed2-a139-465c5247f31b",
      "name": "SplitInBatches3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        5160,
        720
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_wnb7sjajswprjb",
        "returnAll": true,
        "options": {
          "where": "=(users_id,eq,{{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}})~and((lost, eq, {{true}})~and(paid, eq, {{true}}))"
        }
      },
      "id": "051a1285-3cfc-4480-a197-16c14d5b027c",
      "name": "Сообщения",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        4940,
        720
      ],
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_3ypp2osxwtbu73",
        "returnAll": true,
        "options": {
          "where": "=(users_id,eq,{{$node[\"ID пользователя\"].json[\"data\"][\"record_id\"]}})~and((lost, eq, {{true}})~and(paid, eq, {{true}}))"
        }
      },
      "id": "feecab3c-5cf7-40ab-b70f-8f306473044e",
      "name": "SMS",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        4940,
        1000
      ],
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_wnb7sjajswprjb",
        "id": "={{$json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "dropped",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "processed",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "bounce",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "delivered",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "open",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "click",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "spamreport",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "=lost",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "paid",
              "fieldValue": "={{true}}"
            }
          ]
        }
      },
      "id": "93e12681-d59a-4447-96b7-f594fdd23481",
      "name": "Обработка сообщения",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5360,
        720
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_3ypp2osxwtbu73",
        "id": "={{$json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "accepted",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "delivered",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "lost",
              "fieldValue": "={{true}}"
            },
            {
              "fieldName": "paid",
              "fieldValue": "={{false}}"
            }
          ]
        }
      },
      "id": "76218c29-c55d-483d-b304-99a4e561171c",
      "name": "Обработка SMS",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        5360,
        1000
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches3\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "9e4ae9e3-d3c0-467c-9241-2fa34d36b42c",
      "name": "Сообщения обработаны?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5560,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches2\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "04a19b65-748d-4e64-a2c5-dcc690f3c47e",
      "name": "SMS обработаны?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5560,
        1000
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook\"].json[\"body\"][\"event\"][\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "purchase"
            },
            {
              "value2": "payment",
              "output": 1
            },
            {
              "value2": "stage",
              "output": 2
            }
          ]
        }
      },
      "id": "954a50d9-b362-467f-bba8-a420b35b15e5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        4480,
        260
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "e4e10fe1-d8ac-4758-8437-0c75f7062be0",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        260
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "bc115b61-f7b0-4a5e-bb39-003b3654ed9a",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5160,
        1260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "amoType",
              "value": "prod"
            }
          ]
        },
        "options": {}
      },
      "id": "71f05d5a-1a03-4c26-9fba-92132b6ef8e3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "amoType",
              "value": "demo"
            }
          ]
        },
        "options": {}
      },
      "id": "a495bcef-7cdd-4f5b-82f3-ace14d5971f3",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4960,
        1260
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-07T13:31:02.405Z"
}