workflows/Prod: Market Events.json
{
  "active": false,
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Поиск пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание контакта": {
      "main": [
        [
          {
            "node": "ID контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры контакта": {
      "main": [
        [
          {
            "node": "Создание контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID контакта": {
      "main": [
        [
          {
            "node": "Добавление пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск пользователя": {
      "main": [
        [
          {
            "node": "Результат поиска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Результат поиска": {
      "main": [
        [
          {
            "node": "Пользователь не найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление пользователя": {
      "main": [
        [
          {
            "node": "Идентификатор созданого",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор созданого": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор найденного": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID пользователя": {
      "main": [
        [
          {
            "node": "Покупка шаблона?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Товары": {
      "main": [
        [
          {
            "node": "Параметры создания сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры создания сделки": {
      "main": [
        [
          {
            "node": "Создание сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание сделки": {
      "main": [
        [
          {
            "node": "Ответ создания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ создания": {
      "main": [
        [
          {
            "node": "Параметры связывания контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь не найден?": {
      "main": [
        [
          {
            "node": "Параметры контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Идентификатор найденного",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры связывания контакта": {
      "main": [
        [
          {
            "node": "Связывание сделки и контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Покупка шаблона?": {
      "main": [
        [
          {
            "node": "Товары",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Связывание сделки и контакта": {
      "main": [
        [
          {
            "node": "Список товаров",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список товаров": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры счета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Параметры товара",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры привязки товара": {
      "main": [
        [
          {
            "node": "Привязка товара",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры товара": {
      "main": [
        [
          {
            "node": "Параметры привязки товара",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Привязка товара": {
      "main": [
        [
          {
            "node": "Параметры письма",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры письма": {
      "main": [
        [
          {
            "node": "Отправка письма",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка письма": {
      "main": [
        [
          {
            "node": "Параметры myBI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры myBI": {
      "main": [
        [
          {
            "node": "Отправка webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка webhook": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры счета": {
      "main": [
        [
          {
            "node": "Создание счета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание счета": {
      "main": [
        [
          {
            "node": "Счет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Счет": {
      "main": [
        [
          {
            "node": "Сделка и счет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сделка и счет": {
      "main": [
        [
          {
            "node": "Связь счета и сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Связь счета и сделки": {
      "main": [
        [
          {
            "node": "Параметры обновления сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры обновления сделки": {
      "main": [
        [
          {
            "node": "Обновление сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-28T19:21:32.910Z",
  "id": 12,
  "name": "Prod: Market Events",
  "nodes": [
    {
      "parameters": {},
      "id": "4d0062ea-8e00-4f43-9cda-0a01a0632521",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -200,
        440
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "9e70d19d-3f2e-48f4-aec9-11a0b428839d",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "path": "ff15db6a-ff62-468e-a2e6-6b171b1d7e46",
        "options": {}
      },
      "id": "bac9c597-0b38-4520-900e-fbd446601b6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        260
      ],
      "webhookId": "ff15db6a-ff62-468e-a2e6-6b171b1d7e46"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "ea16f019-18d7-428b-bf9b-05cf66c2fceb",
      "name": "Создание контакта",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        60
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_y0z1qo6sry41ug",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "contact_id",
              "fieldValue": "={{$node[\"ID контакта\"].json[\"data\"][\"_embedded\"][\"contacts\"][0][\"id\"]}}"
            },
            {
              "fieldName": "first_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Name\"]}}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Email\"]}}"
            },
            {
              "fieldName": "phone_number",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Phone\"]}}"
            },
            {
              "fieldName": "balance",
              "fieldValue": "0"
            },
            {
              "fieldName": "stage",
              "fieldValue": "регистрация"
            }
          ]
        }
      },
      "id": "f988f190-e26f-411c-a712-8321202529d8",
      "name": "Добавление пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1340,
        60
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [{\n    \"first_name\": $node[\"Webhook\"].json[\"body\"][\"Name\"],\n    \"last_name\": \"\",\n    \"responsible_user_id\": 6651409,\n    \"custom_fields_values\": [\n        {\n            \"field_id\": 2224997,\n            \"field_name\": \"Email\",\n            \"field_code\": \"EMAIL\",\n            \"field_type\": \"multitext\",\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"Email\"],\n                    \"enum_id\": 1008131,\n                    \"enum_code\": \"WORK\"\n                }\n            ]\n        },\n        {\n            \"field_id\": 2224995,\n            \"field_name\": \"Телефон\",\n            \"field_code\": \"PHONE\",\n            \"field_type\": \"multitext\",\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"Phone\"],\n                    \"enum_id\": 1008119,\n                    \"enum_code\": \"WORK\"\n                }\n            ]\n        }\n    ]\n}]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "a4f5bf4d-c7ed-4f48-93fa-179495692ebd",
      "name": "Параметры контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "bf7256e5-5de6-4798-b799-5cf4157735fd",
      "name": "ID контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1140,
        60
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_y0z1qo6sry41ug",
        "limit": 1,
        "options": {
          "where": "=(email,eq,{{$node[\"Webhook\"].json[\"body\"][\"Email\"]}})"
        }
      },
      "id": "844923bd-4633-4546-979f-5423447c41f4",
      "name": "Поиск пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        200,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      empty: $input.all().length == 1 && Object.keys($input.all()[0].json).length == 0\n    }\n  }\n];"
      },
      "id": "ff9a4af7-aa77-4c7d-be3d-728ffd52f777",
      "name": "Результат поиска",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_contact_id\"]}}"
            },
            {
              "name": "user_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"user_id\"]}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_lead_id\"]}}"
            },
            {
              "name": "record_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"Id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"lead_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c62caafb-6f40-4688-afcc-310cff21fbac",
      "name": "Идентификатор найденного",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "contact_id",
              "value": "={{$node[\"Добавление пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{null}}"
            },
            {
              "name": "user_id",
              "value": "={{null}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{null}}"
            },
            {
              "name": "record_id",
              "value": "={{$node[\"Добавление пользователя\"].json[\"id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{null}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f3978ef-5d5e-437d-99eb-1aa0c6baa897",
      "name": "Идентификатор созданого",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    data: $input.all()[0].json\n  }\n];"
      },
      "id": "bf7f674a-87d4-44de-bfe9-00dded829c28",
      "name": "ID пользователя",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "let products = $node[\"Webhook\"].json[\"body\"][\"payment\"][\"products\"];\nlet result = [];\nfor(let i = 0; i < products.length; i++) {\n  products[i]\n  result.push(`${i+1}. ${products[i].name} - ${products[i].quantity} шт. / ${products[i].price}`)\n}\n\nreturn [{products: result.join('\\n')}];\n\n"
      },
      "id": "939ebad3-e54e-40f6-bb14-7dcc06ca7ad4",
      "name": "Товары",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "let params = [\n    {\n        \"name\": `Заказ № ${$node[\"Webhook\"].json[\"body\"][\"payment\"][\"orderid\"]}`, \n        \"price\": parseInt($node[\"Webhook\"].json[\"body\"][\"payment\"][\"amount\"]),\n        \"responsible_user_id\": 6651409,\n        \"status_id\": 52278730,\n        \"pipeline_id\": 6014764,\n        \"custom_fields_values\": null\n    }\n]\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "d33b970f-fba8-4e8a-a600-4799de544d6c",
      "name": "Параметры создания сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1600,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры создания сделки\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "203ca13d-281b-480c-8e1a-23980f336dd4",
      "name": "Создание сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1800,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "c119ec1a-ac6b-4460-8823-c9c6b0e1925f",
      "name": "Ответ создания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2020,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"to_entity_id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]),\n        \"to_entity_type\": \"contacts\",\n        \"metadata\": {\n            \"is_main\": true\n        }\n    }\n]\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "6aa200d9-53b3-4b7f-84d3-5f54a444b227",
      "name": "Параметры связывания контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2240,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Результат поиска\"].json[\"empty\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "40a13954-d98c-4a77-ab50-2c7a105c5d62",
      "name": "Пользователь не найден?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"formid\"]}}",
              "operation": "notContains",
              "value2": "form377580437"
            }
          ]
        }
      },
      "id": "59a87619-7b1f-440d-acb9-2bdbfed111ba",
      "name": "Покупка шаблона?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры связывания контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "bd6cd52e-1e73-46b5-a9a0-4459b5868082",
      "name": "Связывание сделки и контакта",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2440,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet data = [{\nexternalid: 820119,\nname: \"Отчет по продажам amoCRM\",\namount: \"499\",\nquantity: \"1\",\nprice: \"499\"\n}, {\nexternalid: 820115,\nname: \"Модель данных amoCRM\",\namount: \"99\",\nquantity: \"1\",\nprice: \"99\"\n}];\n\n//return $node[\"Webhook\"].json[\"body\"][\"payment\"][\"products\"];\nreturn data;"
      },
      "id": "2fec995c-c961-4e24-95cb-6ffb69edfd43",
      "name": "Список товаров",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2660,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "99de6e7e-be8a-48ae-a6ab-d0e454c92e7e",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2860,
        160
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"to_entity_id\": parseInt($node[\"Параметры товара\"].json[\"product_id\"]),\n        \"to_entity_type\": \"catalog_elements\",\n        \"metadata\": {\n            \"quantity\": 1.0,\n            \"catalog_id\": 7041\n        }\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "72c22a1b-dc42-4624-ad93-ba9acf6eb0bf",
      "name": "Параметры привязки товара",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3260,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_krgepwthzb9kz3",
        "limit": 1,
        "options": {
          "where": "=(product_id,eq,{{$node[\"SplitInBatches\"].json[\"externalid\"]}})"
        }
      },
      "id": "b916ce74-c986-4476-8c48-97e897de8bf1",
      "name": "Параметры товара",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        3060,
        160
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры привязки товара\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "a0f95dd6-719d-42cb-afac-73f11fb6790b",
      "name": "Привязка товара",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3480,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\nlet params = {\n  user_name: $node[\"Webhook\"].json[\"body\"][\"Name\"],\n  template_name: $node[\"SplitInBatches\"].json[\"name\"],\n  download_url: `https://app.mybi.ru/market/download/${$node[\"Параметры товара\"].json[\"code\"]}`,\n  support_url: $node[\"Параметры товара\"].json[\"support_url\"]\n}\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "02ab6397-73cb-4e29-8670-9efa13bb322d",
      "name": "Параметры письма",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3700,
        160
      ]
    },
    {
      "parameters": {
        "url": "http://api.dashamail.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "transactional.send"
            },
            {
              "name": "api_key",
              "value": "0f0ca3c6f479fd2fab67384e9e5c15d1"
            },
            {
              "name": "to",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"Email\"]}}"
            },
            {
              "name": "message",
              "value": "2287063"
            },
            {
              "name": "from_email",
              "value": "app@mybi.ru"
            },
            {
              "name": "subject",
              "value": "Тестовое"
            },
            {
              "name": "template_data",
              "value": "={{$node[\"Параметры письма\"].json[\"params\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c08f4442-b664-4723-b7c8-7431a3ae52a5",
      "name": "Отправка письма",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3920,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = {\n  user_id: parseInt($node[\"Параметры товара\"].json[\"user_id\"]),\n  amount: parseInt($node[\"SplitInBatches\"].json[\"amount\"]),\n  comment: `Продажа отчета ${$node[\"SplitInBatches\"].json[\"name\"]}`\n}\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "04784cd1-bc77-48ac-85dc-0e222b13ee6e",
      "name": "Параметры myBI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4120,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.mybi.ru/payments/market/callback",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{$node[\"Параметры myBI\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "9bb0c18e-aa58-4870-88ae-f6f1e6c093f5",
      "name": "Отправка webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4320,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet products = [];\nlet data = $input.all();\n\nfor(let i = 0; i < data.length; i++) {\n  products.push({\n    \"value\": {\n      \"sku\": \"\",\n      \"product_id\": data[i].json[\"externalid\"],\n      \"description\": data[i].json[\"name\"],\n      \"unit_price\": parseFloat(data[i].json[\"price\"]),\n      \"unit_type\": \"шт\",\n      \"quantity\": data[i].json[\"quantity\"]\n    }})\n}\n\nlet params = [{\n    \"name\": `\"Покупка № ${$node[\"Webhook\"].json[\"body\"][\"payment\"][\"orderid\"]}`,\n    \"custom_fields_values\": [\n        {\n            \"field_id\": 2225277,\n            \"field_name\": \"Статус\",\n            \"values\": [\n                {\n                    \"value\": \"Оплачен\"\n                }\n            ]\n        },\n        {\n            \"field_id\": 2225281,\n            \"field_name\": \"Плательщик\",\n            \"values\": [\n                {\n                    \"value\": {\n                        \"entity_id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]),\n                        \"entity_type\": \"contacts\",\n                        \"catalog_id\": null\n                    }\n                }\n            ]\n        },\n        {\n            \"field_id\": 2225285,\n            \"field_name\": \"Дата оплаты\",\n            \"values\": [\n                {\n                    \"value\": parseInt(new Date().getTime()/1000)\n                }\n            ]\n        },\n        {\n            \"field_id\": 2225287,\n            \"field_name\": \"Позиции счета\",\n            \"field_code\": \"ITEMS\",\n            \"field_type\": \"items\",\n            \"values\": products\n        },\n        {\n            \"field_id\": 2225291,\n            \"field_name\": \"Стоимость\",\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"payment\"][\"amount\"]\n                }\n            ]\n        }\n    ]\n}];\n\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "a413e29e-19d7-4d9d-afcf-d51d8a913dec",
      "name": "Параметры счета",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2840,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/catalogs/7045/elements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры счета\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "ca38288e-d696-4743-9884-c2aa8faf9e4b",
      "name": "Создание счета",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3060,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "21f44c14-131b-4c93-8d35-54dbc74407dd",
      "name": "Счет",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3280,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"to_entity_id\": parseInt($node[\"Счет\"].json[\"data\"][\"_embedded\"][\"elements\"][0][\"id\"]),\n        \"to_entity_type\": \"catalog_elements\",\n        \"metadata\": {\n            \"quantity\": 1.0,\n            \"catalog_id\": 7045\n        }\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "0febc4b3-e82b-4af8-9760-7914034e7909",
      "name": "Сделка и счет",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3500,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Сделка и счет\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "9dc4b8a9-fef5-4b01-afb7-995e31adcd81",
      "name": "Связь счета и сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3700,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"name\": 'Отчет отправлен',\n        \"responsible_user_id\": 6651409,\n        \"status_id\": 52278730,\n        \"pipeline_id\": 6014764,\n        \"custom_fields_values\": null\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "87b43af3-a09d-4fdd-8a91-d99bfb0381d6",
      "name": "Параметры обновления сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3920,
        440
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры обновления сделки\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "ff26b146-a5e4-4f8f-ad95-582f44d58e53",
      "name": "Обновление сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4140,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet forms = {\n  'form380230425': 2127,\n  'form380227161': 1773,\n  'form380230802': 953,\n  'form380229840': 3360,\n  'form378881585': 2954,\n  'form380231530': 4067,\n  'form386679150': 4819\n}\n\nreturn $input.all();"
      },
      "id": "de0e32a1-41e6-4045-928c-618fd87d7654",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1380,
        660
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-10-31T20:31:09.643Z"
}