workflows/Prod: Documents.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Параметры задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры задачи": {
      "main": [
        [
          {
            "node": "Создание задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание задачи": {
      "main": [
        [
          {
            "node": "Последний пользователь?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Последний пользователь?": {
      "main": [
        [
          {
            "node": "Выход",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-04T11:18:00.746Z",
  "hash": "ce145a47f3850209e0fc090413b2cf6b",
  "id": 21,
  "name": "Prod: Documents",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 7 1 1,4,7,10 *"
            }
          ]
        }
      },
      "id": "9716680a-1168-4ac3-a229-47db5d962c27",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select t.user_id, t.email, t.first_name, t.amount, t.lead_id, t.contact_id from documents t limit 2",
        "additionalFields": {}
      },
      "id": "8be8217f-7eb8-41ae-9fb3-1fd8a30fc404",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        800,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "11",
          "name": "Postgres Prod Stat"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "54c07a6a-6203-4250-a161-1acab410fb8a",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        620,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ed14c126-3f85-400e-8a60-93b6aba76ef9",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        980,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "var date = new Date();\ndate.setDate(date.getDate() + 7);\n\n\nlet params = [\n  {\n        \"task_type_id\": 1,\n        \"text\": `Сумма списаний: ${$node[\"Postgres\"].json[\"amount\"]}`,\n        \"responsible_user_id\": 6651409,\n        \"is_completed\": false,\n        \"complete_till\": parseInt(date.getTime() / 1000),\n        \"entity_id\": 5453635,\n        //\"entity_id\": $node[\"SplitInBatches\"].json[\"lead_id\"],\n        \"entity_type\": \"leads\",\n    }\n]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "6cf4b2cf-c5d2-4512-90b1-ee609379ce50",
      "name": "Параметры задачи",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры задачи\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "974fd559-c5b6-4666-b2ac-1d28e015ac89",
      "name": "Создание задачи",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "fc86d5e4-2924-4757-85ad-16a6668a465f",
      "name": "Последний пользователь?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        320
      ]
    },
    {
      "parameters": {},
      "id": "c9db89e8-9f4c-4402-94e9-df81bdd06a32",
      "name": "Выход",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "callerPolicy": "any",
    "errorWorkflow": "8"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-10T11:25:10.656Z"
}