workflows/Prod: Market Events.json
{
  "active": false,
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Поиск пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание контакта": {
      "main": [
        [
          {
            "node": "ID контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры контакта": {
      "main": [
        [
          {
            "node": "Создание контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID контакта": {
      "main": [
        [
          {
            "node": "Добавление пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск пользователя": {
      "main": [
        [
          {
            "node": "Результат поиска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Результат поиска": {
      "main": [
        [
          {
            "node": "Пользователь не найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление пользователя": {
      "main": [
        [
          {
            "node": "Идентификатор созданого",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор созданого": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификатор найденного": {
      "main": [
        [
          {
            "node": "ID пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID пользователя": {
      "main": [
        [
          {
            "node": "Покупка шаблона?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Товары": {
      "main": [
        [
          {
            "node": "Параметры создания сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры создания сделки": {
      "main": [
        [
          {
            "node": "Создание сделки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создание сделки": {
      "main": [
        [
          {
            "node": "Ответ создания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ создания": {
      "main": [
        [
          {
            "node": "Параметры связывания контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователь не найден?": {
      "main": [
        [
          {
            "node": "Параметры контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Идентификатор найденного",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры связывания контакта": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Покупка шаблона?": {
      "main": [
        [
          {
            "node": "Товары",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-28T19:21:32.910Z",
  "id": 12,
  "name": "Prod: Market Events",
  "nodes": [
    {
      "parameters": {},
      "id": "4d0062ea-8e00-4f43-9cda-0a01a0632521",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -200,
        440
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowJson": "{\n  \"name\": \"amoCRM: update token\",\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"55a9a9eb-07c5-4731-ab89-4ca5cf47992a\",\n      \"name\": \"Start\",\n      \"type\": \"n8n-nodes-base.start\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -580,\n        240\n      ]\n    },\n    {\n      \"parameters\": {\n        \"authentication\": \"nocoDbApiToken\",\n        \"operation\": \"getAll\",\n        \"projectId\": \"p_g9w7m3ac8ab2rq\",\n        \"table\": \"md_8za9o6ytymv7i8\",\n        \"limit\": 1,\n        \"options\": {\n          \"fields\": []\n        }\n      },\n      \"id\": \"6e50c566-dba2-4b95-9629-da3efe460b31\",\n      \"name\": \"NocoDB\",\n      \"type\": \"n8n-nodes-base.nocoDb\",\n      \"typeVersion\": 2,\n      \"position\": [\n        -400,\n        240\n      ],\n      \"credentials\": {\n        \"nocoDbApiToken\": {\n          \"id\": \"3\",\n          \"name\": \"NocoDB\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"jsCode\": \"// Loop over input items and add a new field\\n// called 'myNewField' to the JSON of each one\\nlet current_timestamp = new Date().getTime();\\nlet received_at = new Date($input.first().json.UpdatedAt).getTime();\\nlet isActive = (current_timestamp - received_at) < (86400 * 0.95)\\n\\n\\n\\nreturn [{isActive}];\"\n      },\n      \"id\": \"61a6eb61-00ed-4618-ad32-aef864c8ce19\",\n      \"name\": \"Code\",\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -180,\n        240\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"boolean\": [\n            {\n              \"value1\": \"={{$node[\\\"Code\\\"].json[\\\"isActive\\\"]}}\"\n            }\n          ]\n        }\n      },\n      \"id\": \"5f51e729-a11b-49a4-922f-6bcc5d1b619e\",\n      \"name\": \"IF\",\n      \"type\": \"n8n-nodes-base.if\",\n      \"typeVersion\": 1,\n      \"position\": [\n        40,\n        240\n      ]\n    },\n    {\n      \"parameters\": {\n        \"method\": \"POST\",\n        \"url\": \"https://mybiconnectwidgets.amocrm.ru/oauth2/access_token\",\n        \"sendHeaders\": true,\n        \"headerParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"Content-type\",\n              \"value\": \"application/json\"\n            }\n          ]\n        },\n        \"sendBody\": true,\n        \"bodyParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"grant_type\",\n              \"value\": \"refresh_token\"\n            },\n            {\n              \"name\": \"refresh_token\",\n              \"value\": \"={{$node[\\\"NocoDB\\\"].json[\\\"refresh_token\\\"]}}\"\n            },\n            {\n              \"name\": \"client_id\",\n              \"value\": \"={{$node[\\\"NocoDB\\\"].json[\\\"client_id\\\"]}}\"\n            },\n            {\n              \"name\": \"client_secret\",\n              \"value\": \"={{$node[\\\"NocoDB\\\"].json[\\\"client_secret\\\"]}}\"\n            },\n            {\n              \"name\": \"redirect_uri\",\n              \"value\": \"={{$node[\\\"NocoDB\\\"].json[\\\"redirect_uri\\\"]}}\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1277fc4a-668b-4ceb-ad50-39b02088abc0\",\n      \"name\": \"HTTP Request\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 3,\n      \"position\": [\n        240,\n        140\n      ]\n    },\n    {\n      \"parameters\": {\n        \"authentication\": \"nocoDbApiToken\",\n        \"operation\": \"update\",\n        \"projectId\": \"p_g9w7m3ac8ab2rq\",\n        \"table\": \"md_8za9o6ytymv7i8\",\n        \"id\": \"={{$node[\\\"NocoDB\\\"].json[\\\"Id\\\"]}}\",\n        \"fieldsUi\": {\n          \"fieldValues\": [\n            {\n              \"fieldName\": \"access_token\",\n              \"fieldValue\": \"={{ $json[\\\"access_token\\\"] }}\"\n            },\n            {\n              \"fieldName\": \"refresh_token\",\n              \"fieldValue\": \"={{$node[\\\"HTTP Request\\\"].json[\\\"refresh_token\\\"]}}\"\n            },\n            {\n              \"fieldName\": \"expires_in\",\n              \"fieldValue\": \"={{$node[\\\"HTTP Request\\\"].json[\\\"expires_in\\\"]}}\"\n            }\n          ]\n        }\n      },\n      \"id\": \"4d7d0f93-c04f-4743-a832-3204d52c55b6\",\n      \"name\": \"NocoDB1\",\n      \"type\": \"n8n-nodes-base.nocoDb\",\n      \"typeVersion\": 2,\n      \"position\": [\n        460,\n        140\n      ],\n      \"credentials\": {\n        \"nocoDbApiToken\": {\n          \"id\": \"3\",\n          \"name\": \"NocoDB\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"authentication\": \"nocoDbApiToken\",\n        \"operation\": \"getAll\",\n        \"projectId\": \"p_g9w7m3ac8ab2rq\",\n        \"table\": \"md_8za9o6ytymv7i8\",\n        \"limit\": 1,\n        \"options\": {}\n      },\n      \"id\": \"9f67c0a2-0c49-4d46-8f0d-2c5eebdeea70\",\n      \"name\": \"NocoDB2\",\n      \"type\": \"n8n-nodes-base.nocoDb\",\n      \"typeVersion\": 2,\n      \"position\": [\n        720,\n        260\n      ],\n      \"credentials\": {\n        \"nocoDbApiToken\": {\n          \"id\": \"3\",\n          \"name\": \"NocoDB\"\n        }\n      }\n    }\n  ],\n  \"pinData\": {},\n  \"connections\": {\n    \"NocoDB\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Code\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Code\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"IF\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"IF\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"HTTP Request\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ],\n        [\n          {\n            \"node\": \"NocoDB2\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"HTTP Request\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"NocoDB1\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"NocoDB1\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"NocoDB2\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Start\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"NocoDB\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"active\": false,\n  \"settings\": {},\n  \"id\": 13,\n  \"meta\": {\n    \"instanceId\": \"513fb3ba04ca400b85c7dd9eeaa3e693817e8271d98dcb826db0e95aff1feab1\"\n  },\n  \"tags\": []\n}\n\n\n"
      },
      "id": "9e70d19d-3f2e-48f4-aec9-11a0b428839d",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "path": "ff15db6a-ff62-468e-a2e6-6b171b1d7e46",
        "options": {}
      },
      "id": "bac9c597-0b38-4520-900e-fbd446601b6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        260
      ],
      "webhookId": "ff15db6a-ff62-468e-a2e6-6b171b1d7e46"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "ea16f019-18d7-428b-bf9b-05cf66c2fceb",
      "name": "Создание контакта",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        60
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_y0z1qo6sry41ug",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "contact_id",
              "fieldValue": "={{$node[\"ID контакта\"].json[\"data\"][\"_embedded\"][\"contacts\"][0][\"id\"]}}"
            },
            {
              "fieldName": "first_name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Name\"]}}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Email\"]}}"
            },
            {
              "fieldName": "phone_number",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"Phone\"]}}"
            },
            {
              "fieldName": "balance",
              "fieldValue": "0"
            },
            {
              "fieldName": "stage",
              "fieldValue": "регистрация"
            }
          ]
        }
      },
      "id": "f988f190-e26f-411c-a712-8321202529d8",
      "name": "Добавление пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1340,
        60
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [{\n    \"first_name\": $node[\"Webhook\"].json[\"body\"][\"Name\"],\n    \"last_name\": \"\",\n    \"responsible_user_id\": 6651409,\n    \"custom_fields_values\": [\n        {\n            \"field_id\": 2224997,\n            \"field_name\": \"Email\",\n            \"field_code\": \"EMAIL\",\n            \"field_type\": \"multitext\",\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"Email\"],\n                    \"enum_id\": 1008131,\n                    \"enum_code\": \"WORK\"\n                }\n            ]\n        },\n        {\n            \"field_id\": 2224995,\n            \"field_name\": \"Телефон\",\n            \"field_code\": \"PHONE\",\n            \"field_type\": \"multitext\",\n            \"values\": [\n                {\n                    \"value\": $node[\"Webhook\"].json[\"body\"][\"Phone\"],\n                    \"enum_id\": 1008119,\n                    \"enum_code\": \"WORK\"\n                }\n            ]\n        }\n    ]\n}]\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "a4f5bf4d-c7ed-4f48-93fa-179495692ebd",
      "name": "Параметры контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "bf7256e5-5de6-4798-b799-5cf4157735fd",
      "name": "ID контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1140,
        60
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_g9w7m3ac8ab2rq",
        "table": "md_y0z1qo6sry41ug",
        "limit": 1,
        "options": {
          "where": "=(email,eq,{{$node[\"Webhook\"].json[\"body\"][\"Email\"]}})"
        }
      },
      "id": "844923bd-4633-4546-979f-5423447c41f4",
      "name": "Поиск пользователя",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        200,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      empty: $input.all().length == 1 && Object.keys($input.all()[0].json).length == 0\n    }\n  }\n];"
      },
      "id": "ff9a4af7-aa77-4c7d-be3d-728ffd52f777",
      "name": "Результат поиска",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_contact_id\"]}}"
            },
            {
              "name": "user_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"user_id\"]}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_lead_id\"]}}"
            },
            {
              "name": "record_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"Id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"lead_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c62caafb-6f40-4688-afcc-310cff21fbac",
      "name": "Идентификатор найденного",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"contact_id\"]}}"
            },
            {
              "name": "demo_contact_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_contact_id\"]}}"
            },
            {
              "name": "user_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"user_id\"]}}"
            },
            {
              "name": "demo_lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"demo_lead_id\"]}}"
            },
            {
              "name": "record_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"Id\"]}}"
            },
            {
              "name": "lead_id",
              "value": "={{$node[\"Поиск пользователя\"].json[\"lead_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f3978ef-5d5e-437d-99eb-1aa0c6baa897",
      "name": "Идентификатор созданого",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    data: $input.all()[0].json\n  }\n];"
      },
      "id": "bf7f674a-87d4-44de-bfe9-00dded829c28",
      "name": "ID пользователя",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "let products = $node[\"Webhook\"].json[\"body\"][\"payment\"][\"products\"];\nlet result = [];\nfor(let i = 0; i < products.length; i++) {\n  products[i]\n  result.push(`${i+1}. ${products[i].name} - ${products[i].quantity} шт. / ${products[i].price}`)\n}\n\nreturn [{products: result.join('\\n')}];\n\n"
      },
      "id": "939ebad3-e54e-40f6-bb14-7dcc06ca7ad4",
      "name": "Товары",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "let params = [\n    {\n        \"name\": `Заказ № ${$node[\"Webhook\"].json[\"body\"][\"payment\"][\"orderid\"]}`, \n        \"price\": parseInt($node[\"Webhook\"].json[\"body\"][\"payment\"][\"amount\"]),\n        \"responsible_user_id\": 6651409,\n        \"status_id\": 52278730,\n        \"pipeline_id\": 6014764,\n        \"custom_fields_values\": null\n    }\n]\n\n\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "d33b970f-fba8-4e8a-a600-4799de544d6c",
      "name": "Параметры создания сделки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1620,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры создания сделки\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "203ca13d-281b-480c-8e1a-23980f336dd4",
      "name": "Создание сделки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1840,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nreturn [{data: JSON.parse($input.all()[0].json.data)}];"
      },
      "id": "c119ec1a-ac6b-4460-8823-c9c6b0e1925f",
      "name": "Ответ создания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2060,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet params = [\n    {\n        \"entity_id\": parseInt($node[\"Ответ создания\"].json[\"data\"][\"_embedded\"][\"leads\"][0][\"id\"]),\n        \"to_entity_id\": parseInt($node[\"ID пользователя\"].json[\"data\"][\"contact_id\"]),\n        \"to_entity_type\": \"contacts\",\n        \"metadata\": {\n            \"is_main\": true\n        }\n    }\n]\nreturn [{params: JSON.stringify(params)}];"
      },
      "id": "6aa200d9-53b3-4b7f-84d3-5f54a444b227",
      "name": "Параметры связывания контакта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2240,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Результат поиска\"].json[\"empty\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "40a13954-d98c-4a77-ab50-2c7a105c5d62",
      "name": "Пользователь не найден?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$node[\"Execute Workflow\"].json[\"subdomain\"]}}/api/v4/leads/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Execute Workflow\"].json[\"access_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Параметры связывания контакта\"].json[\"params\"]}}",
        "options": {}
      },
      "id": "bd6cd52e-1e73-46b5-a9a0-4459b5868082",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2440,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"formid\"]}}",
              "value2": "form377580437"
            }
          ]
        }
      },
      "id": "59a87619-7b1f-440d-acb9-2bdbfed111ba",
      "name": "Покупка шаблона?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-10-30T04:50:06.887Z"
}