workflows/Prod: Token Refresh.json
{
  "active": false,
  "connections": {
    "NocoDB": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Тип амо токена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип амо токена": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-28T19:27:37.905Z",
  "dataLoaded": true,
  "id": 13,
  "name": "Prod: Token Refresh",
  "nodes": [
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_j04lph4zvy0dhp",
        "limit": 1,
        "options": {
          "fields": [],
          "where": "=(type,eq,{{$node[\"Тип амо токена\"].json[\"amoType\"]}})"
        }
      },
      "id": "6e50c566-dba2-4b95-9629-da3efe460b31",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        -320,
        240
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let current_timestamp = new Date().getTime();\nlet received_at = new Date($input.first().json.UpdatedAt).getTime();\nlet isActive = (current_timestamp - received_at) < (86400000 * 0.95)\n\nreturn [{ isActive }];"
      },
      "id": "61a6eb61-00ed-4618-ad32-aef864c8ce19",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -140,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Code\"].json[\"isActive\"]}}"
            }
          ]
        }
      },
      "id": "5f51e729-a11b-49a4-922f-6bcc5d1b619e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bimarket.amocrm.ru/oauth2/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$node[\"NocoDB\"].json[\"refresh_token\"]}}"
            },
            {
              "name": "client_id",
              "value": "={{$node[\"NocoDB\"].json[\"client_id\"]}}"
            },
            {
              "name": "client_secret",
              "value": "={{$node[\"NocoDB\"].json[\"client_secret\"]}}"
            },
            {
              "name": "redirect_uri",
              "value": "={{$node[\"NocoDB\"].json[\"redirect_uri\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1277fc4a-668b-4ceb-ad50-39b02088abc0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_j04lph4zvy0dhp",
        "id": "={{$node[\"NocoDB\"].json[\"Id\"]}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "access_token",
              "fieldValue": "={{ $json[\"access_token\"] }}"
            },
            {
              "fieldName": "refresh_token",
              "fieldValue": "={{$node[\"HTTP Request\"].json[\"refresh_token\"]}}"
            },
            {
              "fieldName": "expires_in",
              "fieldValue": "={{$node[\"HTTP Request\"].json[\"expires_in\"]}}"
            }
          ]
        }
      },
      "id": "4d7d0f93-c04f-4743-a832-3204d52c55b6",
      "name": "NocoDB1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        480,
        140
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_j04lph4zvy0dhp",
        "id": "={{$node[\"NocoDB\"].json[\"Id\"]}}"
      },
      "id": "9f67c0a2-0c49-4d46-8f0d-2c5eebdeea70",
      "name": "NocoDB2",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        740,
        260
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {},
      "id": "db6d63b2-6068-4733-b927-26654ecaa796",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "let amoType = $input.first().json.amoType;\n\nreturn [{ amoType }];"
      },
      "id": "cf915ae2-d211-4800-8942-d4f0e8b8e825",
      "name": "Тип амо токена",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -500,
        240
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-06-08T04:46:56.465Z",
  "versionId": "765b3ba0-ef6b-48e1-ab8d-e002519ded49"
}