workflows/Prod: SMS Notifications.json
{
  "active": true,
  "connections": {
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Есть номер телефона?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка SMS": {
      "main": [
        [
          {
            "node": "Ответ сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть номер телефона?": {
      "main": [
        [
          {
            "node": "Отправка SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ сервера": {
      "main": [
        [
          {
            "node": "Сохранение SMS данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нет данных для обработки?": {
      "main": [
        [
          {
            "node": "Выход",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранение SMS данных": {
      "main": [
        [
          {
            "node": "Нет данных для обработки?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-04T11:30:32.453Z",
  "id": 22,
  "name": "Prod: SMS Notifications",
  "nodes": [
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_wnb7sjajswprjb",
        "returnAll": true,
        "options": {
          "where": "=(template,eq,Удаление)~and(open,not,true)~and(CreatedAt,ge,{{$json[\"start_date\"]}})~and(CreatedAt,lt,{{ $json[\"end_date\"] }})"
        }
      },
      "id": "fb0072b6-1fb2-4280-a864-3acfaa8aa41b",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        840,
        260
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d5130a40-19a9-42f3-be3b-06b90fa3cbc3",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://new.smsgorod.ru/apiSms/create",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "ntDm7UhaK9MAdw3VwVTxshu4uvCzbRqbFl3oIwbLbZZiRLNC82j2jdY2o4P0"
            },
            {
              "name": "sms[0][channel]",
              "value": "char"
            },
            {
              "name": "sms[0][phone]",
              "value": "={{$node[\"SplitInBatches\"].json[\"phone_number\"]}}"
            },
            {
              "name": "sms[0][text]",
              "value": "=Уважаемый пользователь, уведомляем, что все накопленные данные в сервисе myBI Connect будут удалены через 2 дня в связи с неоплатой."
            },
            {
              "name": "sms[0][sender]",
              "value": "myBIConnect"
            },
            {
              "name": "webhookUrl",
              "value": "https://n8n.mybi.ru/webhook/c561da41-8739-4107-b71f-7291853768c9"
            }
          ]
        },
        "options": {}
      },
      "id": "2e9f1598-c5f2-4f42-8b76-6e83fd491566",
      "name": "Отправка SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1460,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{data: $input.all()[0].json.data}];"
      },
      "id": "bc029710-b916-40d7-9e33-30a2dbb4309f",
      "name": "Ответ сервера",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1640,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].json[\"phone_number\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1fa8a211-bb6d-4516-949c-70670df04ab8",
      "name": "Есть номер телефона?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        260
      ]
    },
    {
      "parameters": {},
      "id": "7a1b0531-81d3-48f2-924b-3c972e0cd621",
      "name": "Выход",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        240
      ]
    },
    {
      "parameters": {},
      "id": "602594ff-e42a-4fd0-b1d9-7296fe9653eb",
      "name": "Нет данных для обработки?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "a26c0838-3c1a-4fdb-b149-156c8de16736",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "var start_date = new Date();\nvar end_date = new Date();\n\nstart_date.setDate(start_date.getDate() - 1);\nstart_date.setHours(0, 0, 0, 0);\n\nend_date.setHours(0, 0, 0, 0);\n\nreturn [{start_date: start_date.toISOString(), end_date: end_date.toISOString()}];"
      },
      "id": "e3aafcb0-bb84-453f-85ef-e933c4216546",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_f907ih5oqn9gtp",
        "table": "md_3ypp2osxwtbu73",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "users_id",
              "fieldValue": "={{$node[\"SplitInBatches\"].json[\"users_id\"]}}"
            },
            {
              "fieldName": "accepted",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "delivered",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "lost",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "paid",
              "fieldValue": "={{false}}"
            },
            {
              "fieldName": "cost",
              "fieldValue": "=0"
            },
            {
              "fieldName": "error_description",
              "fieldValue": "={{$node[\"Отправка SMS\"].json[\"data\"][0][\"errorDescription\"]}}"
            },
            {
              "fieldName": "sms_id",
              "fieldValue": "={{$node[\"Отправка SMS\"].json[\"data\"][0][\"id\"]}}"
            }
          ]
        }
      },
      "id": "5895f986-e1c2-453a-b2cd-23d849ef9b78",
      "name": "Сохранение SMS данных",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1820,
        100
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "3",
          "name": "NocoDB"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "errorWorkflow": "8"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-10T13:45:49.407Z"
}